// Override Bootstrap variables
$primary: #56614D;
$secondary: #50554B;
$danger: #853C2C;
$body-color: #2D3945;
// $text-color: #2D3945; // i don't think this is doing anything

$link-decoration: none;
$link-hover-decoration: underline;

// Import Bootstrap from the CDN
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import '../bootstrap-5.3.2/scss/bootstrap';

// Your custom styles go here
:root {
    --bs-body-font-family: 'Questrial', sans-serif;
}

.fixed-svg-col {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.left-side-svg {
    max-height: 100%;
    float: right;
}

.scrolling-col {
    height: 100vh;
    overflow-y: scroll;
}