{% extends "base.html" %}
{% block title %}Recipe{% endblock %}

{% block content %}

    <h1>New Recipe</h1>
  
    <form method="POST" >
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name(size=20) }}
            {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        {% for ingredient_field in form.ingredients %}
        <div class="row">

            {{ ingredient_field.item.label(class_='form-label') }} {{ ingredient_field.item(class='form-control') }}
            {{ ingredient_field.quantity.label(class_='form-label') }} {{ ingredient_field.quantity(class='form-control') }}
            {{ ingredient_field.unit_id.label(class_='form-label') }} {{ ingredient_field.unit_id(class='form-select') }}

        </div>
        {% endfor %}


        {{ form.submit }}
    </form>

{% endblock %}
