{% extends "base.html" %}
{% block title %}Recipe{% endblock %}

{% block content %}

    <h1>New Recipe</h1>
  
    <form method="POST" >
            {{ form.csrf_token }}
            {{ form.name.label(class_='form-label') }}
            {{ form.name(class_='form-control') }}
            {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        
        <h2 class="mt-3">Directions</h2>

        <div id="direction-container">
            <ol>
                {% for direction_field in form.directions %}
                <div class="row mb-2">
                    <div class="col">
                        <li>
                            {{ direction_field.description_(class_='form-control', placeholder='description') }}
                            <button type="button" id="remove-ingredient-0" class="btn btn-danger remove-ingredient-button">-</button>
                            <button type="button" id="add-ingredient-0" class="btn btn-primary add-ingredient-button">+</button>
                        </li>
                    </div>
                </div>
                    {% for ingredient_field in direction_field.ingredients %}
                    <div class="row g-3 mb-2">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            {{ ingredient_field.item(class_='form-control', placeholder='item') }}
                        </div>
                        <div class="col-sm">
                            {{ ingredient_field.quantity(class_='form-control', placeholder='quantity') }}
                        </div>
                        <div class="col-sm">
                            {{ ingredient_field.unit_id(class_='form-select', placeholder='unit') }}
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </ol>
            <button type="button" id="remove-direction" class="btn btn-danger mt-3">-</button>
            <button type="button" id="add-direction" class="btn btn-primary mt-3">+</button>
    
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>

    <div id="ingredient-template" class="row g-3 mb-2">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            {{ form_ingredient_template.item(class_='form-control', placeholder='item') }}
        </div>
        <div class="col-sm">
            {{ form_ingredient_template.quantity(class_='form-control', placeholder='quantity') }}
        </div>
        <div class="col-sm">
            {{ form_ingredient_template.unit_id(class_='form-select', placeholder='unit') }}
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function() {
        // Keep track of the ingredient line count
        var ingredientCount = 1;

        // Maximum number of ingredient lines allowed (change as needed)
        var maxIngredients = 20;

        // Add ingredient line when "Add Ingredient" button is clicked
        $(".add-ingredient-button").click(function() {
            // if (ingredientCount < maxIngredients) {
            //     // Clone the first ingredient line; update ID and name attribute
            //     var newIngredient = $("#ingredient-container .row").first().clone();
            //     newIngredient.find("input, select").each(function() {
            //         var oldId = $(this).attr("id");
            //         var newId = oldId.replace("-0-", "-" + ingredientCount + "-");
            //         $(this).attr("id", newId);

            //         var oldName = $(this).attr("name");
            //         var newName = oldName.replace("-0-", "-" + ingredientCount + "-");
            //         $(this).attr("name", newName);
            //     });
            //     newIngredient.find("input").val("");
            //     newIngredient.find("select").val("-1");

            //     // Append the new ingredient line to the container
            //     $("#ingredient-container").append(newIngredient);

            //     ingredientCount++;
            // }

            // identify direction item
            var directionNum = $(this).attr("id").split("-").pop()

            // clone template
            var newIngredient = $("#ingredient-template").clone()

            // update values
            newIngredient.attr("id", "")

            // append
            $("")
        });

        // Remove latest ingredient line when "Remove Latest Ingredient" button is clicked
        $("#remove-ingredient").click(function() {
            if (ingredientCount > 1) {
                $("#ingredient-container .row").last().remove();
                ingredientCount--;
            }
        });

        // Keep track of the direction line count
        var directionCount = 1;

        // Maximum number of direction lines allowed (change as needed)
        var maxDirections = 20;

        // Add direction line when "Add Direction" button is clicked
        $("#add-direction").click(function() {
            if (directionCount < maxDirections) {
                // Clone the first direction line; update ID and name attribute
                var newDirection = $("#direction-container .row").first().clone();
                newDirection.find("input").each(function() {
                    var oldId = $(this).attr("id");
                    var newId = oldId.replace("-0-", "-" + directionCount + "-");
                    $(this).attr("id", newId);

                    var oldName = $(this).attr("name");
                    var newName = oldName.replace("-0-", "-" + directionCount + "-");
                    $(this).attr("name", newName);
                });

                // Clear the values in the cloned inputs
                newDirection.find("input").val("");

                // Append the new ingredient line to the container
                $("#direction-container ol").append(newDirection);

                directionCount++;
            }
        });

        // Remove latest direction line when "Remove Latest Direction" button is clicked
        $("#remove-direction").click(function() {
            if (directionCount > 1) {
                $("#direction-container .row").last().remove();
                directionCount--;
            }
        });
    });
</script>
{% endblock %}
