{% extends "base.html" %}

{% block content %}
    <div class="d-flex align-items-center pb-3">
        <img src="{{ url_for('static', filename='svg/SingleCurryBranch_short.svg') }}" alt="Patel Recipes Logo" height=75 class="d-md-none">
        <h1 class="display-1 mb-0 ps-2 ps-md-0">
            Patel Recipes
        </h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
            {% for recipe in recipes[:midpoint] %}
                <div>
                    <a href="{{url_for('show_recipe', recipe_id=recipe.id)}}" class="ps-2">{{recipe.name}}</a>
                </div>
            {%endfor%}
        </div>
        <div class="col-12 col-md-6 col-xl-4">
            {% for recipe in recipes[midpoint:] %}
                <div>
                    <a href="{{url_for('show_recipe', recipe_id=recipe.id)}}" class="ps-2">{{recipe.name}}</a>
                </div>
            {%endfor%}
        </div>
        <div class="col-xl-4">

        </div>
    </div>
{% endblock %}
