{% extends "base.html" %}
{% block title %}{{recipe.name}}{% endblock %}


{% block content %}

  <h1 class="display-1">{{recipe.name}}</h1>

  <div id="directions" class="pt-3">
    <h2>Directions</h2>
    <ol>
      {% for direction in recipe.directions %}
        <span class="step">
        <li>{{direction.description_}}</li>
        {% if direction.ingredients %}
          <ul>
            {% for item in direction.ingredients %}
            <li>
              {{ item.item }}
              {% if item.quantity %}
                -  
                {{ item.quantity | format_number }} 
                {% if item.quantity != 1 %}
                  {% if item.unit.abbr_plural %}
                    {{ item.unit.abbr_plural }}
                  {% else %}
                    {{ item.unit.name_plural }}
                  {% endif %}
                {% else %}
                  {% if item.unit.abbr_singular %}
                    {{ item.unit.abbr_singular }}
                  {% else %}
                    {{ item.unit.name }}
                  {% endif %}
                {% endif %}
              {% endif %}
            </li>
        {% endfor %}
          </ul>
        {% endif %}
        </span>
      {% endfor %}
    </ol>
  </div>

  <div id="ingredients" class="pt-4">
    <h2>Ingredients</h2>
    <div class="row row-cols-1 row-cols-sm-2">
      {% for direction in recipe.directions %}
        {% for item in direction.ingredients %}
        <div class="col">  
          <label>
            <input class="form-check-input ingredient-checkbox" type="checkbox" value="">
            <span>
              {{ item.item }}
              {% if item.quantity %}
                -  
                {{ item.quantity | format_number }} 
                {% if item.quantity != 1 %}
                  {% if item.unit.abbr_plural %}
                    {{ item.unit.abbr_plural }}
                  {% else %}
                    {{ item.unit.name_plural }}
                  {% endif %}
                {% else %}
                  {% if item.unit.abbr_singular %}
                    {{ item.unit.abbr_singular }}
                  {% else %}
                    {{ item.unit.name }}
                  {% endif %}
                {% endif %}
              {% endif %}
            </span>
          </label>
        </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  {% if recipe.complementary_dishes %}
  <div id="complementaryDishes" class="pt-4">
    <h2>Complementary Dishes</h2>
    <ul>
      {% for comp in recipe.complementary_dishes %}
        <li>
          <a href="{{url_for('show_recipe', recipe_id=comp.id)}}">{{comp.name}}</a>
        </li>
      {% endfor %}
      
    </ul>
  </div>
  {% endif %}

  <div id="tags" class="pt-3">
    <span class="text-muted">
    {% for tag in recipe.tags %}
      #{{tag.name}}
    {% endfor %}
    </span>
  </div>

  <div class="pt-3">
    <button type="button" class="btn btn-info" id="resetButton">Reset</button>
    <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn btn-info" id="editButton">Edit</a>
  </div>
  
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $(document).ready(function() {
    // Click event handler for recipe steps
    $('.step').on('click', function() {
      $(this).toggleClass('text-decoration-line-through');
    });
  });

  $(document).ready(function() {
    $('#resetButton').on('click', function() {
      // Uncheck all ingredient checkboxes
      $('.ingredient-checkbox').prop('checked', false);

      // Remove line-through property from all steps
      $('.step').removeClass('text-decoration-line-through');
    });
  });
</script>
{% endblock %}