{% extends "base.html" %}
{% block title %}{{recipe.name}}{% endblock %}


{% block content %}

  <h1>{{recipe.name}}</h1>

  <div id="ingredients">
    <h2>Ingredients</h2>
    <div class="row row-cols-1 row-cols-sm-2">
      {% for item in ingredients %}
      <div class="col">  
        <label>
          <input class="form-check-input ingredient-checkbox" type="checkbox" value="">
          <span>
            {% if item.quantity %}
              {{ item.item }}: {{item.quantity}} {{item.unit.name}}
            {% else %}
              {{ item.item }}
            {% endif %}
          </span>
        </label>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="directions">
    <h2>Directions</h2>
    <ol>
      {% for item in directions %}
        <span class="step">
        <li>{{item.description}}</li>
        </span>
      {% endfor %}
    </ol>
  </div>

  {% if recipe.complementary_dishes %}
  <div id="complementaryDishes">
    <h2>Complementary Dishes</h2>
    <ul>
      {% for comp in recipe.complementary_dishes %}
        <li>
          <a href="{{url_for('show_recipe', recipe_id=comp.id)}}">{{comp.name}}</a>
        </li>
      {% endfor %}
      
    </ul>
  </div>
  {% endif %}

  <div id="tags">
    <span>
    {% for tag in recipe.tags %}
      #{{tag.name}}
    {% endfor %}
    </span>
  </div>

  <button type="button" class="btn btn-secondary" id="resetButton">Reset</button>
  
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  $(document).ready(function() {
    // Click event handler for recipe steps
    $('.step').on('click', function() {
      $(this).toggleClass('text-decoration-line-through');
    });
  });

  $(document).ready(function() {
    $('#resetButton').on('click', function() {
      // Uncheck all ingredient checkboxes
      $('.ingredient-checkbox').prop('checked', false);

      // Remove line-through property from all steps
      $('.step').removeClass('text-decoration-line-through');
    });
  });
</script>
{% endblock %}