{% extends "base.html" %}
{% block title %}Tags{% endblock %}

{% block content %}

  <h1>Tags</h1>
  <div id="tags">
  {% if tags %}
    <ul>
      {% for tag in tags %}
        <li>
          {{tag.name}} <a href="{{ url_for('delete_tag', tag_id=tag.id) }}">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <span>No tags found.</span>
  {%endif%}
  </div>

  <h1>New Tag</h1>
  
    <form method="POST" action="{{ url_for('show_tags') }}">
        <fieldset class="form-field">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name(size=20) }}
            {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        {{ form.submit }}
    </form>

{% endblock %}
