<!DOCTYPE html>
<html lang="en" class="h-screen">
<head>
  {% block head %}    
    <title>{% block title %}Patel Recipes{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="" />
    <link rel="icon" type="image/svg+xml" href="" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

  {% endblock head %}
</head>

<body class="flex flex-col h-screen">
  <header class="bg-white">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div>
        {% for message in messages %}
          <div>
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
  </header>
  <main class="grow">
    {% block main %}
      <div class="max-w-5xl mx-auto p-2">
        {% block content %}
        {% endblock %}
      </div>
    {% endblock %}
  </main>
  <footer>
  </footer>
</body>
</html>

