{% extends "base.html" %}
{% block title %}Tags{% endblock %}

{% block content %}

  <h1>Tags</h1>

  {% include "tag_button_new.html" %}
  
  <div id="tags">
  {% if tags %}
    {% for tag in tags %}
      {% include 'tag_row.html' %}
    {% endfor %}
  {% else %}
    <span>No tags found.</span>
  {%endif%}
  </div>

  <div>
    {% if links['prev'] %}
      <a href="{{ links['prev'] }}">Previous</a>
    {% endif %}
    {% if links['next'] %}
      <a href="{{ links['next'] }}">Next</a>
    {% endif %}
  </div>

{% endblock %}
