<div hx-target="this" hx-swap="outerHTML">
  <form>
    {{ form.csrf_token }}
    <span>
      {{ form.name() }}
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          <br><span>{{ error }}</span>
        {% endfor %}
      {% endif %}
    </span>
    <span>
      {{ form.is_active() }}
      {% if form.is_active.errors %}
        {% for error in form.is_active.errors %}
          <br><span>{{ error }}</span>
        {% endfor %}
      {% endif %}

    </span>
    <span>
      <button hx-get="{{url_for('get_new_tag_button')}}">
        cancel
      </button>
      <button hx-post="{{url_for('create_tag')}}">
        save
      </button>
    </span>
  </form>
</div>