<div hx-target="this" hx-swap="outerHTML">
  <form id="form-tag-{{tag_id}}">
    {{ form.csrf_token }}
    <span>{{ form.name() }}</span>
    <span>{{ form.is_active() }}</span>
    <span>
      <button hx-get="{{url_for('get_tag_row', tag_id=tag_id)}}">
        cancel
      </button>
      <button hx-put="{{url_for('put_tag_row', tag_id=tag_id)}}">
        save
      </button>
    </span>
  </form>

  {% if form.name.errors %}
    <ul class="errors">
        {% for error in form.name.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
  {% endif %}
</div>
